body {
  width: 95%;
  margin: 15px auto;
  font-family: Arial, sans-serif;
  border: 2px solid black;
  background-image: url("../images/shsulogo.jpg");
  background-repeat: repeat-y;
  background-position: right;
  background-attachment: fixed;
}
nav {
background-color: green;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li a {
display: block;
color: white;
text-align: center;
padding: 14px 20px;
text-decoration:none ;
}
nav ul li a:hover,
nav ul li a.current {
background-color: #111;
}
footer{
    clear: both;
    border-top: 2px solid maroon;
}
article {
  width: 75%;
  float: left;
  padding: 15px;
}
aside {
  width: 20%;
  position: fixed;
  right: 15px;
  top: 120px;
  background-color: bisque;
  border-left: 2px solid black;
  padding: 10px;
}
aside ol {
  list-style-type: upper-roman;
}
img {
  float: left;
  margin: 10px;
  width: 200px;
}
p::first-letter {
  font-size: 150%;
  font-weight: bold;
  font-style: italic;
}
footer {
  text-align: center;
  border-top:  e2px solid black;
  padding: 10px;
  background-color: blue;
  color: white;
  clear: both;
}
